h2
{
	color: red;
	margin-left: 10px;
}
h3{
	color: rgb(205, 92, 92);
	margin-left: 10px;
}

.header{
	min-height: 100px;
	background-color: lightblue;
}

.container{
	border: 5px solid blue;
	overflow: hidden;

}
.contact{
	float: left;
	width: 50%;
	min-height: 300px;
	background-color: yellow;
}
.blog{
	float: right;
	width: 50%;
	min-height: 300px;
	background-color: pink;
}

.footer{
	/*clear: both*/;
	min-height: 100px;
	background-color: #ffff4d;
	text-align: center;
	font-style: italic;
	display: block;
}
table,th,td{

	border: 1px solid black;
	margin-left: 10px;
}
textarea{
	width: 300px;
	min-height: 100px;
	margin-left: 10px;
}

details{
	margin-left: 10px;
}
p{
	margin-left: 10px;
}
pre{
	margin-left: 10px;
}

.href{
	justify-content: center;
	display: flex;
}

	
